
div.table-container {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    overflow-x: auto;
    margin-bottom: 4%;
}

table#view {
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 1rem;
    /*background: rgba(255, 0, 0, 0.5);*/
}

.left {
    text-align: left;
}

.even {
    background: rgba(227,113,17,0.5);
}
.odd {
    /*background: rgba(245,132,36,0.5);*/
}

form#view {
    width: 100%;
    height: 80%;
}

.submitDiv {
    width: 30%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitBtn {
    min-width: fit-content;
    width: 90%;
    height: 90%;
    border-radius: 50px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.submitBtn:hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
}