
div#outer {
    width: 100%;
    height: 100%;
    /*background: rgba(255, 0, 0, 0.5);*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#outer h1 {
    color: white;
    font-size: 2rem;
    margin-top: -1%;
    margin-bottom: 5%;
}

form#upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}

div.group {
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
}


label.main {
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 3%;
}

.submitDiv {
    width: 30%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitBtn {
    min-width: fit-content;
    width: 90%;
    height: 90%;
    border-radius: 50px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.submitBtn:hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.uploadButton {
    padding: 2%;
    border: 2px solid white;
    color: white;
}